<div>
    <h1>Crypto Tracker</h1>

    <div class="crypto-table">
        <div style="width: 20%">
            <h2>Available Cryptocurrencies</h2>

            <home-crypto-selector [currencies]="(currencies$ | async)!" (add)="onAdd($event)"></home-crypto-selector>
        </div>

        <div>
            <h2>Portfolio</h2>

            <home-crypto-portfolio [currencies]="(currencyPortfolio$ | async)!" (remove)="onRemove($event)"></home-crypto-portfolio>
        </div>

        <div style="width: 20%">
            <h2>Random Cryptocurrency</h2>

            <home-crypto-randomizer [currencies]="(currencies$ | async)!"></home-crypto-randomizer>
        </div>
    </div>
</div>