<div class="content">
  <!-- TODO: Real banner comp should be made, with items aligned better and no inline styles -->
  <div *ngIf="angularFireAuth.user | async as user; else loggedoutbanner" class="toolbar" role="banner">
    <div>
      <a [routerLink]="['/files']" style="margin-right: 1rem; color: white;">File Downloads</a>
      <a [routerLink]="['/crypto']" style="margin-right: 1rem;  color: white;">Crypto Portfolio</a>
      <a [routerLink]="['/map']" style="margin-right: 1rem;  color: white;">Drone Routes</a>
    </div>
    <div style="text-align: center;"><h1>{{ title }}</h1></div>
    <div style="text-align: right;"><a (click)="angularFireAuth.signOut();" style="cursor: pointer;">Logout</a></div>
  </div>
  <ng-template #loggedoutbanner>
    <div>
      <h1>{{ title }}</h1>
    </div>
  </ng-template>

  <div *ngIf="angularFireAuth.user | async as user; else login" style="width: 100%; height: 100%; padding: 1rem">
    <router-outlet></router-outlet>
  </div>
  <ng-template #login>
      <firebase-ui (signInSuccessWithAuthResult)="successLoginCallback" (signInFailure)="errorLoginCallback($event)"></firebase-ui>
  </ng-template>
</div>
